python-arq
future
emoji
lxml
wget
gtts
pyttsx3
beautifulsoup4
carbonnow
requests==2.20.0
python-telegram-bot==13.5
sqlalchemy==1.3.23
redis
psycopg2-binary
feedparser
hachoir
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
Pillow>=4.2.0
CurrencyConverter
googletrans==4.0.0-rc1
#googletrans
google_trans_new
jikanpy
speedtest-cli
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
TgCrypto
Pyrogram
youtube-dl
youtube_search_python
youtube_search
asyncio
dateparser==1.0.0
pymongo==3.11.0
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
bing_image_downloader
search_engine_parser
pytz
lyricsgenius
tswift
envparse
cloudscraper

#profanity (Credits to Julia)
better_profanity
textblob 
nudepy

motor
faker
fontTools
emoji

# Barcode and qrcode
python-barcode
qrcode

# horoscope
pyaztro

# Twitter
twitter_scraper

# gogoanime-api
PyDictionary==2.0.1
lottie
numpy
wand
pybase64
psutil
glitch-this
multicolorcaptcha 
